{% extends 'base.html' %}
{% load static %}

{% block head %}
<style>
    .info{
        border: 2px solid lightgray;
        border-radius: 10px;
        height: 210px;
    }
    .left{
        float: left;
    }
    .right{
        float: right;
    }
    .razorpay-payment-button {
        background-color: #3395ff;
        padding: 10px;
        color: white;
        border-radius: 10px;
        border: none;
        box-shadow: 5px 10px 8px #ddd;
        font-size: 1.1rem;
        margin: 10px 0;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h2 class="text-warning">Complete Checkout</h2>
    <div class="row">
        <div class="col-md-8">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus necessitatibus laboriosam architecto mollitia maiores suscipit sint aperiam, accusamus quia iure voluptatem possimus praesentium perferendis eum commodi sunt animi provident adipisci.
            <form method="POST">
            {% csrf_token %}
                <input type="hidden" name="profile_id" value="{{object.billing_profile.id}}">
                <script
                    src="https://checkout.razorpay.com/v1/checkout.js"
                    data-key="{{key_id}}"
                    data-currency="{{currency_code}}"
                    data-amount="{{object.total_in_paise}}"
                    data-name="{{object.billing_profile.name}}"
                    data-image="{% static 'favicon.ico' %}"
                    data-netbanking="true"
                    data-description="Order {{object.id}}"
                    data-prefill.name="Harshil Mathur"
                    data-prefill.email="{{object.billing_profile.email}}"
                    data-prefill.contact="9999999999"
                    data-notes.shopping_order_id="{{object.id}}"
                    data-buttontext="Pay With RazorPay"
                ></script>
			<input type="hidden" name="shopping_order_id" value="{{object.id}}" />
		</form>
        </div>
        <div class="col-md-4">
            <div class="info p-2">
                <div class="row mt-2">
                    <h4 class="text-warning col-md-8 mt-2 ml-2">Order-total</h4>
                    <a href="{% url 'cart' %}" class="btn btn-success col-md-3 p-2 mr-2">Edit cart</a>
                </div>
                <hr>
                <div class="left mx-3"> Sub-total :</div> <div class="right mx-3">{{currency_symbol}}{{ object.cart.total }}</div> <br> 
                <div class="left mx-3">Shipping :</div> <div class="right mx-3">{{currency_symbol}}{{ object.shipping_total }}</div> <br>
                <hr>
                <div class="left mx-3">
                    Total&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;&ThickSpace;:
                </div>
                <div class="right mx-3">{{currency_symbol}}{{ object.total }}
                    </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}