{% extends "base.html" %}

{% block content %}
<div class="container">
        <h1 class="text-warning">{{ title }}</h1>
        <div class="row my-3">
        {% for profile in profiles %}
            <div class="col-md-6">
                <div class="card m-2 text-center">
                    <div class="card-header">
                        Profile {{forloop.counter}}
                    </div>
                    <div class="card-body">
                        <p class="card-text text-left">
                            <span>Name:- </span> {{profile.name}} <br>
                            <span>Email:- </span> {{profile.email}} <br>
                            <span>Address Line 1:- </span> {{profile.address_line_1}} <br>
                            <span>City:- </span> {{profile.city}} <br>
                            <span>State:- </span> {{profile.state}} <br>
                            <span>Country:- </span> {{profile.country}} <br>
                            <span>Pincode:- </span> {{profile.pincode}} <br>
                            {% if profile.address_line_2 %}
                            <span>Address Line 2:- </span> {{profile.address_line_2}} <br>
                            {% endif %}
                        </p>
                        <form action="/cart/checkout/" method="GET">
                            <input type="hidden" name="profile_id" value="{{profile.id}}">
                            <input type="submit" value="Use This Profile" class="btn btn-primary">
                        </form>
                    </div>
                </div>
            </div>
        {% endfor %}
        </div>
        <h3 class="text-warning">Add Billing Profile</h3>
        <form method="POST" action="/billing_profile/add/">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{request.build_absolute_uri}}">
            <table>
                {{form.as_table}}
            </table>
            <button type="submit" class="btn btn-info ">Add Billing Profile</button>
        </form>
</div>
{% endblock %}