{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <h3>Filter</h3>
            <form method="GET">
                {{ pricerange }}
                <input type="submit" value="Filter" class="btn btn-primary">
                <a href="{{ request.path }}" class="btn btn-primary">Clear All</a>
            </form>
        </div>
        <div class="col-md-9">
            {% if request.GET.k %}
                <h3> Searched for {{ request.GET.k }} </h3>
                <hr>
            {% endif %}
            
            {% if model.count < 1 %}
                <h1 class="text-center text-warning">No Products Available</h1>
            {% endif %}
            
            <div class="row">
            {% for i in model %}
                {% include 'snippets/card.html' with instance=i %}
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}