{% extends 'base.html' %} {% block content %}
<div class="container">
	<h1>{{ product.title }}</h1>

	<div class="container row">
		<img
			src="{{ product.image.url }}"
			class="img-responsive col-md-6"
			width="400"
			height="400"
			align="left"
		/>

		<div class="col-md-6">
			<h3>{{ product.title }}</h3>

			<h5>
				Rating:
				<i class="fa fa-star text-warning"></i>
				<i class="fa fa-star text-warning"></i>
				<i class="fa fa-star text-warning"></i>
				<i class="fa fa-star text-warning"></i>
				<i class="fa fa-star text-warning"></i>
			</h5>

			{% if product.original_price %}
			<h5>
				Original Price <del>{{currency_symbol}}{{ product.original_price }}</del>
			</h5>
			{% endif %}

			<h5>Cost {{currency_symbol}}{{ product.price }}</h5>

			{% if product not in cart.products.all %}
			<h4>
				<form method="POST" action="/cart/">
					{% csrf_token %}
					<input type="hidden" name="type" value="add">
					<input type="hidden" name="id" value="{{ product.id }}">
					<input type="submit" value="Add To Cart" class="btn btn-warning">
				</form>
			</h4>
			{% else %}
			<h4 class="text-warning">In Cart</h4>
			<h4>
				<form method="POST" action="/cart/">
					{% csrf_token %}
					<input type="hidden" name="type" value="remove">
					<input type="hidden" name="id" value="{{ product.id }}">
					<input type="submit" value="Remove From Cart" class="btn btn-danger">
				</form>
			</h4>
			{% endif %}
		</div>
	</div>
	<br />

	<div class="description container">
		<h3>Description</h3>
		{{ product.description | linebreaks }}
	</div>
	<br />

	<div class="container">
		{% if product.get_related_products.count > 1 %}
		<h3 style="margin-bottom: 20px;">Related Products</h3>
		<div class="row">
			{% for i in product.get_related_products %} {% if i.id != product.id %}
			<div class="col-md-3">
				<div class="card">
					<img
						class="card-img-top"
						src="{{ i.image.url }}"
						alt="Card image cap"
					/>
					<div class="card-body">
						<h5 class="card-title">{{ i.title }}</h5>
						{{currency_symbol}}{{ i.price }}
						<a href="{{ i.get_absolute_url }}" class="btn btn-primary">
							Check it out
						</a>
					</div>
				</div>
			</div>{% endif %}
			{% endfor %}
		</div>
		{% endif %}
	</div>
</div>

{% endblock %}
